<mat-drawer-container class="example-container">
    <mat-drawer #drawer mode="over">

        <div class="chat-container" style="align-self: flex-start;vertical-align: middle;">
            <mat-card>
                <mat-card-content>
                  <div *ngFor="let mess of messList" [ngClass]="{'my-message': mess.name === player_name, 'other-message': mess.name !== player_name}">
                    <p><strong>{{ mess.name }}:</strong></p>
                    
                    <ng-container *ngIf="mess.type=='img'">
                      <img [src]="mess.mess" alt="Image"(load)="onImageLoad($event)" />
                    </ng-container>
                    
                    <ng-container *ngIf="mess.type!=='img'">
                      <p>{{ mess.mess }}</p>
                    </ng-container>
                  </div>
                </mat-card-content>
              </mat-card>
              
              
        </div>
        <div style="height: 300px;">
                <p> </p>
        </div>

        <div style="position:absolute;
        bottom: 5px;
        padding: 0px; 
        width: 100%;
        box-shadow: 0 5 5 5 gray;
        border-radius: 5px;
        background-color: aquamarine;
       
        ">
            <mat-divider></mat-divider>

            <!-- <input style="height: 30px;width:300px ; display: block; border-radius: 10px;" type="email" matInput
                [(ngModel)]="mess" placeholder="message">
            <button style="height: 30px;width: 50px;display: block; border-radius: 10px;" mat-flat-button color="accent"
                (click)="send_message()">Send</button> -->
                <mat-card>
                    <mat-card-content>
                      <mat-form-field appearance="fill" style="width: 100%;">
                        <mat-label>Message</mat-label>
                        <input matInput [(ngModel)]="mess" placeholder="Enter your message">
                      </mat-form-field>
                      <div style="display: flex; align-items: center;">
                        <input type="file" style="display: none;" #fileInput (change)="onFileSelected($event)" accept="image/*">
                        <button mat-icon-button (click)="fileInput.click()" aria-label="Upload Image">
                          <mat-icon>attach_file</mat-icon>
                        </button>
                        <button mat-raised-button color="primary" (click)="send_message()">Send</button>
                      </div>
                    </mat-card-content>
                  </mat-card>
                  
                  

        </div>



    </mat-drawer>
    <mat-drawer-content>
        <iframe #game scr="" style="display: none;width: 100%;height: 100%;"></iframe>
    </mat-drawer-content>
</mat-drawer-container>
<div class="bubble" #bubble>
    <div class="bubble-content">
        <span>{{new_mess_author}}:</span><span>{{new_mess_text}}</span>
    </div>

</div>