.example-container {
    width: 100%;
    height: 100%;
    margin: 0;
    border: 1px solid #555;
}

#drawer {
    min-width: 200px;
    padding: 20px;
}

mat-drawer-content {
    width: 100%;
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.bubble
{
    transform: translateY(-50px);
    opacity: 0.5;
    background-color:turquoise;
    padding: 2px;
    padding-left: 8px;
    padding-right: 8px;
    width: auto;
    border-radius: 5px;
    position: fixed;
    height: 20px;
    top: 100%;
    left: 30px;
    z-index: 10;
}
.bubble-content
{
    opacity: 1;
    color: black;
}