<form class="example-form">
    <mat-form-field class="example-full-width">
        <mat-label>Old Password</mat-label>
        <input type="password" matInput [formControl]="oldPasswordFormControl" placeholder="Ex. jefferyLi01">
        <mat-error *ngIf="!oldPasswordFormControl.hasError('pattern') && oldPasswordFormControl.hasError('minlength')">
            At least 6 characters are <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="oldPasswordFormControl.hasError('pattern')">
            Please enter a valid password
        </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <mat-label>New Password</mat-label>
        <input type="password" matInput [formControl]="passwordFormControl" placeholder="Ex. jefferyLi01">
        <mat-error *ngIf="!passwordFormControl.hasError('pattern') && passwordFormControl.hasError('minlength')">
            At least 6 characters are <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="passwordFormControl.hasError('pattern')">
            Please enter a valid password
        </mat-error>
    </mat-form-field>
    <div class="example-button-row">
        <button type="button" mat-raised-button color="primary" (click)="chpwd()">修改密码</button>
    </div>
</form>