<mat-toolbar>
    Personal Center
    <button mat-icon-button class="mat-icon-button">
      <mat-icon>
        home
      </mat-icon>
    </button>
    <button mat-icon-button class="mat-icon-button">
      <mat-icon>
        info
      </mat-icon>
    </button>
</mat-toolbar>

<mat-card>
    <mat-card-content>
      <h2>个人信息</h2>
  
      <p><strong>ID:</strong> 123</p>
      <p><strong>名字:</strong> John</p>
      <p><strong>游玩时长:</strong> 10 hours</p>
      <p><strong>最喜欢的角色:</strong> Mario</p>
      <p><strong>最常用的皮肤:</strong> 粉色妖精小兔♪</p>
      <p><strong></strong></p>
    </mat-card-content>
</mat-card>
  