<mat-toolbar>
    个人信息中心
    <button mat-icon-button class="mat-icon-button">
      <mat-icon>
        home
      </mat-icon>
    </button>
    <button mat-icon-button class="mat-icon-button">
      <mat-icon>
        info
      </mat-icon>
    </button>
</mat-toolbar>
<mat-card>
    <mat-card-content>
        <mat-tab-group>
            <mat-tab label="基本信息">
                <app-personal-basic-info [user]="user"></app-personal-basic-info>
            </mat-tab>
            <mat-tab label="修改密码">
                <app-change-password></app-change-password>
            </mat-tab>
            <mat-tab label="形象历史">

            </mat-tab>
            <mat-tab label="学习历史">

            </mat-tab>
        </mat-tab-group>
    </mat-card-content>
</mat-card>
